.container{
    background-color: aqua;
    
}
#m1{
    color: blue;
}
#Webname{
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}
.image{
    border: 2px solid red;
    width: 250px;
    height: 160px;
    position: absolute;
    left: 5%;
    top: 15%;
}
.brief{
    width: 200px;
    height: 120px;
    position: relative;
    left: 60%;
    top: 30px;
}
.contact{
    position: relative;
    left: 10%;
    top: 100px;
}